.contact-list-component {
    
    height: 450px;
    overflow-y: auto;
}

.search {
    padding: 15px 20px 20px;
}

.user {
    margin-right: 30px;
}
.default-ico {
    font-size: 25px;
    color: #404040;
}

.delete:hover {
    cursor: pointer;
    color: red;
}

.add-contact {
    font-size: 35px;
    cursor: pointer;
}

.add-contact:hover {
    color: #20bf55;
}

.add-contact-form {
    position: absolute;
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
}

.list:hover {
    background: #ccc;
}